.container {
  width: min(480px, 90%);
  height: 280px;
  background: #353a5e;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 1rem;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
}

.date {
  font-weight: 500;
  font-size: large;
  color: rgba(255, 255, 255, 0.3);
}

p {
  font-size: large;
  line-height: 1.5;
}

@media only screen and (max-width: 991px) {
  .container {
    height: 100%;
  }
}

/* Import the google web fonts you want to use */

@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/* Flexbox stuff */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 24%;
}
