.sContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  padding: 1.5rem 0;
  font-size: x-large;
}

.statistics {
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 991px) {
  .statistics {
    width: 100%;
  }
}
