.sContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 5vw;
}

.title {
  padding: 1.5rem 0;
  font-size: x-large;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 991px) {
  .sContainer {
    margin-right: 0;
  }
}
